$body-color: #fff;
$font-color: #000;
$navbar-color: #fff;
$navbar-border: rgba(185, 181, 181, 0.6);
$menu-color: #fff;
$link-color: #000;
$hero-shadow: rgba(0, 0, 0, 0.6);
$header-text-color: #fff;
$adventure-text: #fff;
$list-text: #949090;
$box-shadow: #949090;
$offer-button: #fff;
$offer-button-hover: #2ade72;
$link-border: #0bc957;
$footer-background: #f5f5f5;
