$body-color: #fff;
$navbar-color: #fff;
$navbar-border: rgba(185, 181, 181, 0.6);
$menu-color: #fff;
$link-color: #000;
$hero-shadow: rgba(0, 0, 0, 0.6);
$header-text-color: #fff;
$adventure-text: #fff;
$list-text: #949090;
