@use './heights' as h;
@use './colors' as c;

@media (min-width: 992px) {
	//NAV
	.navbar {
		&__logo img {
			width: 70%;
		}

		&__nav {
			height: h.$menu-maxi;
		}

		&__burger-btn {
			display: none;
		}

		&__items {
			flex-direction: row;
			justify-content: flex-end;
			position: static;
			height: h.$menu-maxi;
			transform: translateX(0);
			opacity: 1;
			width: auto;
		}

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 0;
			height: calc(h.$menu-maxi + 1px);
			font-size: 1.8rem;
			text-transform: none;
			transition: background-color 0.3s;

			a {
				font-weight: 500;
				transition: color 0.3s;
			}

			&:hover {
				height: calc(h.$menu-maxi + 1px);
				background-color: #000;
				cursor: pointer;

				a {
					color: #fff;
				}
			}
		}
	}

	//HEADER
	.header {
		background-image: url('../img/header-big.jpg');
		background-position: 100% 50%;
		margin-top: h.$menu-maxi;

		&__text {
			height: 37vh;

			h1 {
				font-size: 3.6rem;
			}

			p {
				margin-bottom: 0.2em;
				font-size: 2.6rem;
			}
		}
	}

	//ABOUT
	.about {
		margin-bottom: 4.6em;

		&__title {
			margin: 2em 0;
			font-size: 3.6rem;
		}

		&__box {
			flex-direction: row;
			gap: 4em;

			&-img {
				min-width: 50%;

				img {
					margin-bottom: 0;
				}
			}
		}
	}

	//ADVENTURE
	.adventure {
		&__img {
			height: 25vh;
			background-image: url('../img/girl-big.jpg');
		}

		&__text {
			padding: 0.8em 7.5em;
			font-size: 3.5rem;
		}
	}

	//OFFER
	.offer {
		&__title {
			margin: 2em 0 1em;
			font-size: 3.6rem;
		}

		&__text {
			text-align: center;
		}

		&__box {
			flex-direction: row;
			justify-content: space-evenly;
			gap: 0.5em;
		}
	}

	//FOOTER
	.footer {
		background-color: c.$footer-background;

		&__box {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 3.5em;
			padding: 0 5em 2.5em;
		}

		&__box-details {
			display: flex;
			justify-content: space-around;
			gap: 3em;
			margin-right: 5em;

			h3 {
				font-size: 2.2rem;
			}
		}
	}
}
