@use './heights' as h;
@use './colors' as c;

@media (min-width: 992px) {
	//NAV
	.navbar {
		&__logo img {
			width: 80%;
		}

		&__nav {
			height: h.$menu-maxi;
		}

		&__burger-btn {
			display: none;
		}

		&__items {
			flex-direction: row;
			justify-content: flex-end;
			position: static;
			height: h.$menu-maxi;
			transform: translateX(0);
			opacity: 1;
			width: auto;
			// background-color: #000;
		}

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 0;
			font-size: 1.8rem;
			text-transform: none;

			a {
				font-weight: normal;
			}

			&:hover {
				height: h.$menu-maxi;
				background-color: #000;
				cursor: pointer;

				a {
					color: #fff;
				}
			}
		}
	}

	//HEADER
	.header {
		background-image: url('../img/header-big.jpg');
		background-position: 100% 50%;
		margin-top: h.$menu-maxi;

		&__text {
			height: 37vh;

			h1 {
				font-size: 4rem;
			}

			p {
				margin-bottom: 0.2em;
				font-size: 3rem;
			}
		}
	}
}
