@use './heights' as h;
@use './colors' as c;

@media (min-width: 768px) {
	.container {
		padding: 0 2em;
	}

	//NAV
	.navbar {
		&__logo img {
			width: 60%;
		}
	}

	//OFFER
	.offer {
		margin-bottom: 4.6em;

		&__box {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			gap: 3.5em;
		}

		&__card {
			min-width: 250px;
			min-height: 380px;
		}
	}
}
