@use './heights' as h;
@use './colors' as c;

@media (min-width: 768px) {
	.container {
		margin: 0 auto;
		padding: 0 2em;
		width: 100%;
		max-width: 1200px;
	}

	//NAV
	.navbar {
		&__logo img {
			width: 60%;
		}
	}

	//ADVENTURE
	.adventure {
		&__text {
			padding: 1em 20%;
			font-size: 2.8rem;
		}
	}

	//OFFER
	.offer {
		&__box {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			gap: 3.5em;
		}

		&__card {
			min-width: 250px;
			min-height: 380px;
		}
	}

	//FOOTER
	.footer {
		&__box-logo {
			margin: 3.5em 0;
		}

		&__box-details {
			display: flex;
			justify-content: space-around;
			gap: 3.5em;
		}
	}
}
