.navbar {
	&__burger-btn {
		display: inline-block;
		padding: 10px 8px;
		background-color: transparent;
		border: 0;
		text-transform: none;
		overflow: visible;
		transition: opacity 0.15s linear, filter 0.15s linear;
		cursor: pointer;
	}

	&__burger-btn-box {
		position: relative;
		display: inline-block;
		width: 35px;
		height: 25px;
	}

	&__burger-btn-inner,
	&__burger-btn-inner:after,
	&__burger-btn-inner:before {
		display: block;
		position: absolute;
		width: 35px;
		height: 3px;
		background-color: #000;
		border-radius: 6px;
		transition: transform 0.15s ease;
	}

	&__burger-btn-inner {
		bottom: 10px;
		transition: transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	&__burger-btn-inner:after,
	&__burger-btn-inner:before {
		content: '';
	}

	&__burger-btn-inner:before {
		top: -10px;
		transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
			transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	&__burger-btn-inner:after {
		bottom: -10px;
		transition: top 0.12s 0.2s, transform 0.13s;
	}

	&__burger-btn.is-active &__burger-btn-inner {
		bottom: 0;
		transform: translate3d(0, -10px, 0) rotate(-45deg);
		transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	&__burger-btn.is-active &__burger-btn-inner:before {
		top: 0;
		transform: rotate(-90deg);
		transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
			transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	&__burger-btn.is-active &__burger-btn-inner:after {
		top: 0;
		opacity: 0;
		transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
	}
}
